@model Sona.ViewModels.PaginationViewModel

@{
    ViewData["Title"] = "Новости";
}

<!-- Breadcrumb Section Begin -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Новости</h2>
                    <div class="bt-option">
                        <a asp-controller="Home" asp-action="Index">Главная</a>
                        <span>Новости</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog-section blog-page spad">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.ListNews)
            {
                
                <div class="col-lg-4 col-md-6">
                    <div class="blog-item set-bg" data-setbg="../img/blog/blog-1.jpg">
                        <div class="bi-text">
                            <span class="b-tag">@Html.DisplayFor(modelItem => item.Category.Name_Category)</span>
                            <h4><a href="./blog-details.html">@Html.DisplayFor(modelItem => item.Title1)</a></h4>
                            <div class="b-time"><i class="icon_clock_alt"></i> @Html.DisplayFor(modelItem => item.DateWrite)</div>
                        </div>
                    </div>
                </div>
            }
            @for (int i = 1; i <= Model.CountPage; i++)
            {
                <div class="col-lg-12">
                    <div class="load-more">
                        <a asp-action="News" asp-route-page="@i" class="primary-btn">@i</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Blog Section End -->